<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="4.0.2" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid80" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid80" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid80" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.CustomTabs" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.1.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Firebase.Common" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Firebase.Iid" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Firebase.Messaging" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="monoandroid80" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1021.1" targetFramework="monoandroid71" />
</packages>