<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="monoandroid70" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Transition" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.1.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms" version="2.3.4.192-pre2" targetFramework="monoandroid70" />
</packages>