<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.1.0.2" targetFramework="wpa81" />
  <package id="AWSSDK.Core" version="3.1.1.1" targetFramework="wpa81" />
  <package id="AWSSDK.SecurityToken" version="3.1.0.1" targetFramework="wpa81" />
  <package id="AWSSDK.SimpleDB" version="3.1.0.1" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wpa81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="wpa81" />
</packages>