<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xamarin.workingwithlistviewnative" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="ListViewPerf" android:icon="@drawable/icon">
	</application>
</manifest>
