<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.workingwithmaps">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="WorkingWithMaps.Android">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="INSERT-YOUR-API-KEY-HERE" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<!-- Necessary for apps that target Android 9.0 or higher -->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>