<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="4.0.2" targetFramework="monoandroid80" />
  <package id="Microsoft.Identity.Client" version="1.1.0-preview" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid80" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid80" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid80" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid80" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.CustomTabs" version="23.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="monoandroid60" />
</packages>