<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.xaminals">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Xaminals.Android"></application>
</manifest>