<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="EmployeeDirectory.Android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
	<application android:label="EmployeeDirectoryXaml" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>