<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FormsGallery.Android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:icon="@drawable/icon" android:label="Forms Gallery">
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
</manifest>
