<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PCLStorage" version="1.0.2" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid44" />
</packages>