<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net.Platform.XamarinAndroid" version="2.3.0" targetFramework="MonoAndroid403" />
  <package id="SQLite.Net-PCL" version="2.3.0" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="20.0.0.3" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Forms" version="1.2.2.6243" targetFramework="MonoAndroid403" />
</packages>