<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="wpa81" />
</packages>