<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="wp80" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
  <package id="Xamarin.Forms" version="2.3.4.224" targetFramework="wp8" />
</packages>