<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v13" version="20.0.0.4" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="20.0.0.4" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms" version="1.2.3.6257" targetFramework="MonoAndroid44" />
</packages>