<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="19.0.2" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="19.1.0" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Forms" version="1.1.0.6201" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Forms" version="1.2.1.6229" targetFramework="MonoAndroid403" />
</packages>