<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Pages" version="2.3.0.107" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Pages.Azure" version="2.3.0.107" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Theme.Dark" version="1.0.0.43-pre1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="xamarinios10" />
</packages>