<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.4.1.6349" targetFramework="xamarinios10" />
</packages>