<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms.Maps" version="1.4.4.6392" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Ads" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Analytics" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppIndexing" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppInvite" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.AppState" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Cast" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Drive" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Fitness" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Games" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Identity" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Nearby" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Panorama" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Plus" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.SafetyNet" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Wallet" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Wearable" version="25.0.0.0" targetFramework="MonoAndroid50" />
</packages>
