<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="4.7.0.968" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.7.0.968" targetFramework="net461" />
</packages>