<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.cognitivespeechservice" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="CognitiveSpeechService.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
