<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CocosSharp" version="1.7.1.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="CocosSharp.Forms" version="1.7.1.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="portable45-net45+win8+wpa81" />
</packages>