<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.1.0.6" targetFramework="monoandroid51" />
  <package id="AWSSDK.Core" version="3.1.4.3" targetFramework="monoandroid51" />
  <package id="AWSSDK.SecurityToken" version="3.1.2.1" targetFramework="monoandroid51" />
  <package id="AWSSDK.SimpleDB" version="3.1.0.4" targetFramework="monoandroid51" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid50" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="monoandroid71" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid50" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="monoandroid71" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid51" />
  <package id="PCLStorage" version="1.0.2" targetFramework="MonoAndroid50" />
  <package id="PInvoke.BCrypt" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.Kernel32" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.NCrypt" version="0.5.97" targetFramework="monoandroid71" />
  <package id="PInvoke.Windows.Core" version="0.5.97" targetFramework="monoandroid71" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Validation" version="2.4.15" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.CustomTabs" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Auth" version="1.5.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="monoandroid71" />
</packages>