<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.mobilecrm">
	<uses-sdk />
	<application android:label="WorkingWithMaps.Android">
	<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAttdHMG-YIASWeyX4Gcy0rOwewdXGrDf4" />
	<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>